NEXT_PUBLIC_APPWRITE_ENDPOINT=https://appwrite-inwbueezn2gkpm4tqwvzkswy.179.199.142.157.sslip.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=chatboot-production
NEXT_PUBLIC_APPWRITE_DATABASE_ID=totem_db
APPWRITE_API_KEY=your_appwrite_api_key_here
PORT=3000
